.git
.gitignore
.idea
.venv
.cache
.mypy_cache
.ruff_cache
.pytest_cache
**/__pycache__
*.pyc
tests
.env
.env.example
coverage.xml
junit.xml
*.md
docker-compose.yml
.pre-commit-config.yaml
.gitlab-ci.yml
keys
