APP_HOST=0.0.0.0
APP_PORT=8000
APP_TITLE=Project
APP_DESCRIPTION=Project
APP_VERSION=1.0.0
APP_DEBUG=true
APP_DOCS_URL=/docs
APP_REDOC_URL=/redoc

POSTGRES_DRIVER=postgresql+asyncpg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres

JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH=keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=keys/jwt-public.pem
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_USER=minio
MINIO_PASSWORD=minio
MINIO_SECURE=false
